.questionOptionButton {
    box-sizing: border-box;
    width: 80%;
    height: 40px;
    margin: 5px auto;
    background-color: #f5f6fa;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 5px;
    border: 3px solid #596275;
    border-radius: 5px;
  }
  
  .questionOptionButton:hover {
    border-width: 4px;
    border-color: #303952;
  }
  
  .questionOptionButton.correct {
    border-color: #2ed573;
    border-width: 4px;
  }
  
  .questionOptionButton.wrong {
    border-color: #ff4757;
    border-width: 4px;
  }